<div class="cart">
    <h1 className="page--heading">
        <!-- {{ cartCount > 0
            ? `Your Cart has ${cartCount} Item${cartCount > 1 ? 's' : ''}`
            : 'Your Cart is Empty'
        }} -->
    </h1>
    <section class="cart--section">
        <div class="cart--items">
            <h2>Items</h2>
            <app-lineitem *ngFor="let item of items"
                [item]="item"
                (key)="removeItem($event)">
            </app-lineitem>
        </div>
        <app-cart-summary class="cart--summary"
            [shipping]="shipping"
            [subtotal]="subtotal"
            [total]="total"
            [cartCount]="cartCount">
        </app-cart-summary>
    </section>
</div>
