<div class="cart">
    <h1 className="page--heading">
        {{ cart.cartCount > 0 ? 'Your Cart has ' + cart.cartCount + ' Item' + (cart.cartCount > 1 ? 's' : '') : 'Your Cart is Empty' }}
    </h1>
    <section class="cart--section">
        <div class="cart--items">
            <h2>Items</h2>
            <app-lineitem *ngFor="let item of cart.items" [item]="item"></app-lineitem>
            <button (click)="cart.clearCart()">Clear Cart</button>
        </div>
        <app-cart-summary class="cart--summary">
        </app-cart-summary>
    </section>
</div>
